<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <appSettings>
    <add key="SmtpHost" value="smtp.qq.com"/>
    <add key="SmtpPort" value="587"/>
    <add key="SmtpUser" value="330998190@qq.com"/>
    <add key="SmtpPassword" value="vmzmnaohfuvtbgfi"/>
  </appSettings>
</configuration>
